@page
@using Domain
@model WebApp.Pages.Play.Index

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <title>Uno</title>
        <style>
            /* Add your styles here */
            .color-choices {
                display: flex;
                gap: 10px;
                margin-top: 10px;
            }
    
            .color-choice {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        </style>

</head>
<body>

    <h1>Play</h1>

    <h5>Reload page in <span id="reload-label">-</span></h5>

    @{
        ViewData["Title"] = "Uno";
        var pageplayer = Model.Engine.State.Players.Find(i => i.Id == Model.PlayerId);
        var chosencard = 0;
    }

    <h1>Playing as @pageplayer?.NickName</h1>

    <p>
        <a asp-page="Create">Start new game</a>
    </p>

<div class="info-table">
    @if (Model.Engine.State.Winner != null)
    {
        <div class="modal">
            <p class="message">Game winner: @(Model.Engine.State.Winner)!</p>
            <div class="options">
                <button class="btn" onclick="window.location = '../Index'">Back to menu!</button>
            </div>
        </div>
    }
    else
    {
        <h3>Active player: @(Model.Engine.GetActivePlayer().NickName)</h3>
        if (Model.Engine.GetActivePlayer().Id != Model.PlayerId)
        {
            <h4>Wait for your turn, @pageplayer?.NickName</h4>
        }
        else
        {
            <h4>Make your move!</h4>
        }
    }
</div>

<form method="post">
    <input type="hidden" name="GameId" value="@Model.GameId" />
    <input type="hidden" name="PlayerId" value="@Model.PlayerId" />
    <div class="game-table">
        <div class="game-container">
            @foreach (var player in Model.Engine.State.Players)
            {
                if (player != pageplayer)
                {
                    var counter = 0;
                    @(player.NickName)
                    <div class="player-hand">
                        @foreach (var card in player.PlayerHand)
                        {
                            if (player.PlayerHand.IndexOf(card) >= 7)
                            {
                                counter++;
                            }
                            else
                            {
                                <div class="card"><span>@card.ToString()</span></div>
                            }
                        }
                        @if (counter != 0)
                        {
                            <div class="card"><span> +@counter</span></div>
                        }
                    </div>
                }
                var playerLabel = player.NickName + "(" + player.PlayerType + ")";
                //<a asp-page="/Play/Index" asp-route-GameId="@item.Id" asp-route-PlayerId="@player.Id">@playerLabel</a>
            }
            
            <div class="table-hand">
                <!-- Sample player hand with cards -->
                <div class="card"><span>@Model.Engine.State.DeckOfPlayedCards.Last().ToString()</span></div>
                <button class="card" type="submit" name="action" value="draw"><span>Deck</span></button>
            </div>

            @if (Model.Engine.GetActivePlayer().Id == Model.PlayerId)
            {
                <h4>@(Model.Engine.GetActivePlayer().NickName)'s hand</h4>
                @foreach (var card in Model.Engine.GetActivePlayer().PlayerHand)
                {
                    if (card.CardColor == ECardColor.Black)
                    {
                        chosencard = Model.Engine.GetActivePlayer().PlayerHand.IndexOf(card);
                        <button class="card" type="button" onclick="showDiv()">
                        <span>@card.ToString()</span>
                        </button> 
                    }
                    else
                    {
                        <button class="card" type="submit" name="CardNr" value="@Model.Engine.GetActivePlayer().PlayerHand.IndexOf(card)">
                            <span>@card.ToString()</span>
                        </button>
                    }
                }
            }
            
        </div>
    </div>
    <div class="player-actions">
        <button class="@GetButtonStatus("End turn")" type="submit" name="action" value="end">End Turn</button>
    </div>
</form>


<div class="popup" id="popup">
    <div class="cookiesContent" id="cookiesPopup">
        <form method="post">
            <input type="hidden" name="GameId" value="@Model.GameId" />
            <input type="hidden" name="PlayerId" value="@Model.PlayerId" />
            
            <button class="card" style="background-color: yellow" type="submit" name="CardNr" value="0-@chosencard"></button>
            <button class="card" style="background-color: blue" type="submit" name="CardNr" value="1-@chosencard"></button>
            <button class="card" style="background-color: red" type="submit" name="CardNr" value="2-@chosencard"></button>
            <button class="card" style="background-color: green" type="submit" name="CardNr" value="3-@chosencard"></button>
        </form>
    </div>
</div>

<div>
    <!-- Draw desk, Are we active - show controls -->
    @Model.Engine.GetActivePlayer().Id
    @Model.PlayerId
</div>


<script>

function showDiv() {
  document.getElementById("popup").style.display = "block";
}

</script>
@functions
{
    
    string GetButtonStatus(string action)
    {
        var pageplayer = Model.Engine.State.Players.Find(i => i.Id == Model.PlayerId);
        if (action == "End turn")
        {
            if (!pageplayer!.CanEnd)
            {
                return "action-deactivated";
            }
            return "action-active";
        }
        return "";
    }
    
}

</body>
</html>
